*.dll
*.ppx
*.tag
*.map
*.exe
*.ppj
ircbot
output
ipch
Debug
Release
*.sdf
*.user
*.sln
*.suo
*.swp
*.opensdf
*.o
irc-client
Makefile
Makefile.in
aconfig.h*
autom4te.cache/
ar-lib
aclocal.m4
.deps/
autoscan.log
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ircclient
libtool
ltmain.sh
missing
.deps/
.libs/
*.la
*.lo
stamp-h1
